@page
@model Itu_AnaBianca_Proiect.Pages.Oje.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Sterge</h1>

<h3>Esti sigur ca doresti sa stergi?</h3>
<div>
    <h4>Oja</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Oja.Culoare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Oja.Culoare)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Oja.Firma)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Oja.Firma)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Oja.Pret)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Oja.Pret)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Oja.PublishingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Oja.PublishingDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Oja.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Inapoi la lista</a>
    </form>
</div>
